
\.idea/

*.iml

idea-plugin/\.gradle/

idea-plugin/idea-sandbox/

idea-plugin/build/

idea-plugin/out/

tang-common/out/

tang-common/build/

\.gradle/

gradle/

idea-plugin/\.DS_Store

\.DS_Store

build/kotlin-build/version\.txt
